{% extends 'DcwGestaoBundle::_layout.html.twig' %}

{% block body -%}
    <h1>Store creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('store') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
